.banner {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.bannerImage {
  object-fit: cover;
  filter: brightness(0.4);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
  width: 70%;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 12px;
  font-weight: bold;
}

.overlay p {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 15px;
}

.playBtn {
  width: 180px;
  height: 45px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
